<div class="card font-family">        
    <p-carousel
        [value]="products" 
        
        [numScroll]="1" 
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
    >
            <ng-template let-product pTemplate="item" class="carousel_container">
                <div class="details-card_container">
                    <div class="details-card_img" (click)="navigaeUrl(product.product_id)">
                        <img class="br-radius-5"
                             [src]="product.product_img" 
                             [alt]="product.product_title" 
                             width="100%" height="100%" 
                        />
                    </div>

                    <div class="details-card_title">
                        {{ product.product_title}}
                    </div>

                    <div class="details-card_price">
                        {{ 'UAH ' + product.product_price }}
                    </div>                    
                </div>
            </ng-template>
    </p-carousel>
</div>