.main_component {
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    .body_component {
        flex: 1;
    }
}
.navigation-info {
    background: var(--Primary-Blue, #275F84);
    color: #FFF;
    font-family: "DejaVu Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
    padding: 54px 10%;
}